.screenFixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.darker {
    opacity: .9;
}


.displayNone {
    display: none !important
}

.form-cities {
    height: 150px;
}

